/* Define the global font style */
body {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.5;
}

/* Style headings */
h1 {
  font-weight: 900;
}

/* Set the background color for the entire page */
body {
  background-color: lightgray;
}

/* Style a container for your content */
.page {
  width: 750px;
  background-color: white;
  margin: auto;
  padding: 70px;
  padding-top: 35px;
}

/* Style a container for your visualizations */
.vis-container {
  width: 100%;
}

/* Adjust spacing for headings */
.description h2,
h1 {
  margin-top: 10px;
}

/* Add padding to the right for elements with class "description-right" */
.description-right {
  padding-left: 10px;
}

/* Add padding to the left for elements with class "description-left" */
.description-left {
  padding-right: 10px;
}

/* Add margin at the bottom for elements with class "pure-g" */
.pure-g {
  margin-bottom: 25px;
}

/* Customize font size for elements with class "small-font" */
.small-font {
  font-size: 13px;
}
